{%extends "menu.html"%}

{% block content%}

<div class="container mt-5">
    <h2 class="mb-4">Cadastre o carro:</h2>
    <form action="/processar_cadastro_carro" method="POST">

        <div class="mb-3">
            <label for="id" class="form-label">Identificacao</label>
            <input readonly type="text" class="form-control" id="id" name="id" required value={{carro.id}} >
        </div>

        <div class="mb-3">
            <label for="marca">Fabricante:</label>
            <select class="form-control" id="marca" name="marca" required onchange="carregarModelos(this.value)">
                <option value="">Selecione uma opção</option>
                {% for id, fabricante in fabricantes %}
                    <option value="{{ id }}">{{ fabricante }}</option>
                {% endfor %}
            </select>
            <a href="/cadastrar_novo_fabricante" class="btn btn-link">Cadastrar novo fabricante</a>
        </div>
        <div class="mb-3">
            <label for="modelo">Modelo:</label>
            <select class="form-control" id="modelo" name="modelo" required>
                <option value="">Selecione um fabricante primeiro</option>
            </select>
            <a href="/cadastrar_novo_modelo" class="btn btn-link">Cadastrar novo modelo</a>
        </div>
        <div class="mb-3">
            <label for="ano" class="form-label">Ano</label>
            <input type="number" class="form-control" id="ano" name="ano" required value={{carro.ano}}>
        </div>

        <div class="mb-3">
            <label for="categoria" class="form-label">Categoria</label>
            <select class="form-control" id="categoria" name="categoria" required>
                <option value="Econômica" {% if carro.categoria == "Econômica" %}selected{% endif %}>Econômica</option>
                <option value="SUV" {% if carro.categoria == "SUV" %}selected{% endif %}>SUV</option>
                <option value="Luxo" {% if carro.categoria == "Luxo" %}selected{% endif %}>Luxo</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="preco_diaria" class="form-label">Preço Diária (R$)</label>
            <input type="number" class="form-control" id="preco_diaria" name="preco_diaria" step="0.01" required value={{carro.preco_por_dia}}>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="disponivel" name="disponivel" {{'checked' if carro.status else ''}} >
            <label class="form-check-label" for="disponivel">Disponível para locação</label>
        </div>

        
        <button type="submit" class="btn btn-primary">Cadastrar Carro</button>
    </form>
    <br>
    <a href="/carros" class="btn btn-link">Voltar para a lista de carros</a>
</div>

<script>
    function carregarModelos(id_fabricante) {
        if (id_fabricante) {
            fetch(`/obter_modelos/${id_fabricante}`)
                .then(response => response.json())
                .then(data => {
                    const modeloSelect = document.getElementById('modelo');
                    modeloSelect.innerHTML = '<option value="">Selecione um modelo</option>';
                    data.forEach(modelo => {
                        const option = document.createElement('option');
                        option.value = modelo.id;
                        option.textContent = modelo.modelo;
                        modeloSelect.appendChild(option);
                    });
                });
        } else {
            const modeloSelect = document.getElementById('modelo');
            modeloSelect.innerHTML = '<option value="">Selecione um fabricante primeiro</option>';
        }
    }
    </script>
{%endblock content%}
