{% extends "menu.html" %}
{% block extra_css %}
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/carros.css') }}">
{% endblock %}
{%block content%}

<h2>Detalhes do Carro</h2>
<p><strong>Marca:</strong> {{ carro.marca }}</p>
<p><strong>Modelo:</strong> {{ carro.modelo }}</p>
<p><strong>Ano:</strong> {{ carro.ano }}</p>
<p><strong>Preço:</strong> R$ {{ carro.preco_por_dia }}</p>
    <div style="text-align: center;" >
        <h2>HISTORICO DE ALUGUEL</h2>
        <table class="table" width="200px" align="center" border="1">
            <thead>
                <tr>
                    <th>id_usuario</th>
                    <th>Data Inicio</th>
                    <th>Data Final</th>
                    <th>Data Devolução</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for linha in historico %}
                    <tr>
                        <td>{{ linha.id_usuario }}</td>
                        <td>{{ linha.data_inicio }}</td>
                        <td>{{ linha.data_final }}</td>
                        <td>{{'Pendente' if linha.data_devolvida == 'Pendente' else linha.data_devolvida}}</td>
                        <td>
                            {% if linha.data_devolvida == 'Pendente' %}
                                <a href="{{ url_for('processar_devolucao', id=linha.id_carro) }}"><i class="fa fa-undo fa-lg  mr-3" style="color: black" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Devolver Carro"></i></a>                            
                            
                            {% else %}
                                <i class="fa fa-check-square fa-lg  mr-3" style="color: black" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Locação Finalizada"></i></a>                            

                            {% endif %}
                            </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/carros">Voltar</a>
    </div>
{%endblock content%}